/*----------------------------------------------
  media query
  -------------------------------------------- */
/*
    media query for h1:
      centered when mobile, left align when big

    media player:
      center it in mobile
      have list start underneath the r in recording
      menu is aligned on the left and the site scrolls L/R

    menu:
      what
      who
      where
      why


*/
/*----------------------------------------------
  web fonts
  --------------------------------------------*/

@font-face {
  font-family: "MissionGothic-Light"; 
  src: url('../fonts/Mission-Gothic-Light.otf'); 
}

@font-face {
	font-family: "MissionGothic-BlackItalic";
	src: url('../fonts/Mission-Gothic-Black-Italic.otf');
}

/* -----------------------
   general
   ----------------------- */

a  {
  text-decoration: none;
	color: black;
}

html { 
  background: url("../img/rainbowLMNO.jpg") no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

img {
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	max-width: 270px;
}

/* -----------------------
   header 
   ----------------------- */

   /*
      spacing 
   */

   h1 {
    font-family: "MissionGothic-BlackItalic";
    color: white;
    letter-spacing: 2.5px;
    line-height: 100%;
    font-size: 120px; /* 70 px */
    margin: 2.5% 0 0 5%;
    text-shadow: -1.5px 0px 0 purple;
    text-align: left;
}

/* --------------
  navigation
  --------------- */ 

  #info {
    list-style: none;
  }
  #info li {
    background-color: white;
  }
  #info li p {
    font-family: "MissionGothic-Light";
    color: black;
    font-size: 1em;  /* 16 px*/
    font-weight: 600;
    margin: 0 0 0 5%;
    line-height: 0;
  }

/* -----------------------
   audio gallery
   ----------------------- */
#gallery {
  list-style: none;
}

#gallery li {
  float: left;
  width: 270px;
  margin: 45px 10px 10px 10px;
  background-color: white;
  color: black;
	border-radius: 5%;
}

#gallery li p {
	font-family: "MissionGothic-Light";
	color: black;
	padding: 2% 6% 2% 2%;
  font-size: 1em;  /* 16 px*/
	font-weight: 600;
	text-align: right;
	max-width: 47%;
	line-height: 0;
}
  
/* --------------
  audio play button
  --------------- */ 

#pButtonNuNormol {
  height:5.625em;  /* 90 px */
  width: 5.625em; /* 90 px */
  border: none;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
	outline: none;
	float: right;
	margin-right: 5%;
}

#pButtonSlowCrawl {
  height:90px; 
  width: 90px;
  border: none;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
	outline: none;
	float: right;
	margin-right: 5%;
}

#pButtonKissCam {
  height:90px; 
  width: 90px;
  border: none;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  float: right;
  margin-right: 5%;
}

#pButtonHazelsWart {
  height:90px; 
  width: 90px;
  border: none;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  float: right;
  margin-right: 5%;
}

.playNuNormol {
  background: url(../img/play.png);
}

.pauseNuNormol {
  background: url(../img/pause.png);
}

.playSlowCrawl {
  background: url(../img/play.png);
}

.pauseSlowCrawl {
  background: url(../img/pause.png);
}

.playKissCam {
  background: url(../img/play.png);
}

.pauseKissCam {
  background: url(../img/pause.png);
}

.playHazelsWart {
  background: url(../img/play.png);
}

.pauseHazelsWart {
  background: url(../img/pause.png);
}


/* -----------------------
   footer 
   ----------------------- */

/* -----------------------
   links
   ----------------------- */

a:visited {
 color: black; 
}
 



